blib
JCM-Net-Patricia-*
libpatricia/libpatricia.a
libpatricia/patricia.o
libpatricia/Makefile
libpatricia/MYMETA.json
libpatricia/MYMETA.yml
MYMETA.json
MYMETA.yml
Makefile
Patricia.bs
Patricia.c
Patricia.o
pm_to_blib
